.orders__title {
    margin-bottom: 40px;
}

.orders__list {
    border: none;
}

.order__row {
    cursor: pointer;
    transition: var(--transition);
}

.order__pending {
    background-color: var(--color-warning-overlay) !important;
}

.order__completed {
    background-color: var(--color-success-overlay) !important;
}

.order__cancelled {
    background-color: var(--color-error-overlay) !important;
}

.order__pending:hover, .order__pending.selected {
    background-color: var(--color-warning) !important;
}

.order__completed:hover, .order__completed.selected {
    background-color: var(--color-success) !important;
}

.order__cancelled:hover, .order__cancelled.selected {
    background-color: var(--color-error) !important;
}

span:has(.order__checkbox) {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--color-white-smoke);
}

.orders__actions {
    margin-top: 20px;
    padding: 7px;
    background-color: var(--color-lavender-blush);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 40px;
}