.plateSelected {
    background-color: var(--color-white-smoke);
    padding: 20px;
    text-align: center;
}

.plateSelected__image, .plateSelected__name, .plateSelected__description {
    margin-bottom: 20px;
}

.plateSelected__image img {
    width: 100%;
}

.plateSelected__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.plateSelected__price {
    font-size: 1.8em;
    font-family: var(--font-cinzel-decorative);
    font-weight: var(--font-weight-title);
    color: var(--color-claret);
}

.plateSelected__button {
    width: 100%;
}

@media screen and (min-width: 576px) {
    .plateSelected {
        text-align: left;
    }

    .plateSelected__cta {
        flex-direction: row;
    }
    
    .plateSelected__button {
        width: auto;
    }
}