.checkbox {
    position: relative;
    transition: var(--transition);
    font-size: 0.8em;
    color: var(--color-white-smoke);
    width: 20px;
    height: 20px;
}

.checkbox.checked {
    background-color: var(--color-murrey);
}

.checkbox input {
    appearance: none;
}

.checkbox svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}