.checkbox {
    width: 20px;
    height: 20px;
    transition: var(--transition);
    position: relative;
    cursor: pointer;
    /* font-size: 0.8em; */
    color: var(--color-white-smoke);
    border: 1px solid var(--color-murrey);
}

.checkbox:has(input:checked) {
    background-color: var(--color-murrey);
}

.checkbox:has(input:checked) svg {
    opacity: 1;
}

.checkbox input {
    appearance: none;
    border: none;
}

.checkbox svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: var(--transition);
}