.order {
    background-color: var(--color-murrey);
    color: var(--color-white-smoke);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.order:nth-child(even) {
    background-color: var(--color-claret);
}

.order__status {
    margin-bottom: 20px;
}

.order__date {
    font-family: var(--font-cinzel);
    margin-bottom: 20px;
    font-size: 0.9em;
}

.order__item {
    margin-bottom: 20px;
    display: flex;
    column-gap: 20px;
}

.order__itemImage {
    flex-basis: 60px;
}

.order__itemImage img {
    border-radius: 50%;
}

.order__itemInfo {
    flex-basis: calc(100% - 60px - 20px);
}

.order__itemName {
    margin-bottom: 10px;
}

.order__itemName h3 {
    color: inherit;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: var(--font-weight-text-bold);
    line-height: 1;
}

.order__itemPortions {
    font-size: 0.8em;
}

.order__actions {
    margin-top: auto;
    display: flex;
    column-gap: 10px;
}

.order__button {
    cursor: pointer;
}