.order {
    background-color: var(--color-murrey);
    color: var(--color-white-smoke);
    padding: 20px;
}

.order:nth-child(even) {
    background-color: var(--color-claret);
}

.order__status {
    margin-bottom: 20px;
}

.order__actions {
    display: flex;
    gap: 10px;
}