.photo {
    width: 120px;
    height: 120px;
    border: 3px solid var(--color-claret);
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.photo:hover .photo__change {
    visibility: visible;
    opacity: 1;
}

.photo img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
}

.photo__change {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    font-size: 1.6em;
    color: var(--color-white-smoke);
    background-image: var(--color-night-gradient-2);
    visibility: hidden;
    opacity: 0;
}