.auth {
    width: 100%;
}

.auth__redirect {
    margin-bottom: 40px;
    text-align: center;
}

.auth__form {
    max-width: 480px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

@media screen and (min-width: 768px) {
    .auth__form button {
        align-self: center;
    }
}

@media screen and (min-width: 992px) {
    .auth__redirect {
        text-align: left;
    }

    .auth__form {
        margin: 0;
    }

    .auth__form button {
        align-self: flex-start;
    }
}