.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.grid.narrow {
    max-width: 480px;
    margin-inline: auto;
}

@media screen and (min-width: 576px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .grid.narrow {        
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 992px) {
    .grid.narrow {
        max-width: none;
        margin: 0;
    }
}