.auth {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--color-night);
    padding: 2em;
    color: var(--color-white-smoke);
    display: flex;
    flex-direction: column;
}

.auth__container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__container form, .auth__denied {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.auth__container input {
    border: 1px solid var(--color-white-smoke);
    color: inherit;
}

@media screen and (min-width: 576px) {
    .auth__container form, .auth__denied {        
        max-width: 400px;
    }
}