.password {
    display: inline-block;
    position: relative;
}

.password input {
    padding-right: 42px;
    width: 100%;
}

.password__icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: var(--color-battleship-gray);
    cursor: pointer;
}