.password {
    position: relative;
}

.password input {
    width: 100%;
    padding-right: 32px;
}

.password .icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--color-battleship-gray);
}