.orderItem {
    margin-bottom: 20px;
    display: flex;
    column-gap: 20px;
}

.orderItem__image {
    flex-basis: 60px;
}

.orderItem__image img {
    border-radius: 50%;
}

.orderItem__info {
    flex-basis: calc(100% - 60px - 20px);
}

.orderItem__name {
    margin-bottom: 10px;
}

.orderItem__name h3 {
    color: inherit;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: var(--font-weight-text-bold);
    line-height: 1;
}

.orderItem__portions {
    font-size: 0.8em;
}