.contact {
    width: 100%;
    text-align: center;
}

.contact__container {
    display: flex;
    row-gap: 40px;
    flex-wrap: wrap;
}

.contact__info {
    flex-basis: 100%;
}

.contact__title {
    margin-bottom: 40px;
}

.contact__text {
    font-size: 1.1em;
}

.contact__links {
    flex-basis: 100%;
}

.contact__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.contact__menuItem a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 40px;height: 40px;
}

.contact__menuItem svg {
    height: 26px;
}

@media screen and (min-width: 768px) {
    .contact__menuItem a {
        width: 80px;
        height: 80px;
    }

    .contact__menuItem svg {
        height: 48px;
    }
}

@media screen and (min-width: 992px) {
    .contact__info {
        flex-basis: 60%;
        text-align: left;
    }

    .contact__links {
        flex-basis: 40%;
    }

    .contact__menu {
        justify-content: flex-end;
    }
}