.orders {
    width: 100%;
}

.orders__container {
    padding-top: 0;
}

.order__empty {
    text-align: center;
}

.orders__order:nth-child(even) {
    background-color: var(--color-claret);
}

@media screen and (min-width: 992px) {
    .order__empty {
        text-align: left;
    }
}