.bullet {
    padding: 12px 24px;
    background-color: var(--color-battleship-gray);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: none;
    font-weight: 800;
}

.bullet.small {
    padding: 1px 6px;
    font-size: 0.8em;
}

.bullet.success {
    background-color: var(--color-success);
    color: var(--color-success-text);
}

.bullet.info {
    background-color: var(--color-info);
    color: var(--color-info-text);
}

.bullet.warning {
    background-color: var(--color-warning);
    color: var(--color-warning-text);
}

.bullet.error {
    background-color: var(--color-error);
    color: var(--color-error-text);
}