.plateRow__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

span:has(.plateRow__checkbox) {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--color-white-smoke);
}