.input {
    position: relative;
    display: inline-block;
}

.input__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.input > *:not(.input__icon) {    
    display: block;
    width: 100%;
}

.input input {
    padding-left: 42px;
}