.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading__circle {
    width: 60px;
    height: 60px;
    border: 10px solid var(--color-lavender-blush);
    border-radius: 50%;
    position: relative;
}

.loading__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border: 10px solid transparent;
    border-top-color: var(--color-murrey);
    border-radius: 50%;
    animation: loading_spin 0.8s infinite linear;
}

@keyframes loading_spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}