*:has(> .loading.inButton) {
    position: relative;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading.inButton {
    background-color: var(--color-murrey);
}

.loading.inButton .loading__circle,
.loading.small .loading__circle {
    width: 24px;
    height: 24px;
    border-width: 2px;
}

.loading.inButton .loading__spinner,
.loading.small .loading__spinner {
    border-width: 2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
}

.loading__circle {
    width: 60px;
    height: 60px;
    border: 6px solid var(--color-lavender-blush);
    border-radius: 50%;
    position: relative;
}

.loading__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border: 6px solid transparent;
    border-top-color: var(--color-murrey);
    border-radius: 50%;
    animation: loading_spin 1s infinite linear;
}

@keyframes loading_spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}