.dashboard__sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-murrey);
    padding: 20px;
    color: var(--color-white-smoke);
    transition: var(--transition);
    z-index: 100;
}

.dashboard__heading {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: var(--color-murrey);
    padding: 20px;
    z-index: 110;
    transition: var(--transition);
}

.dashboard__menuIcon {
    color: var(--color-white-smoke) !important;
    font-size: 1.6em;
}

.dashboard__menuItem a {
    color: var(--color-white-smoke);
    font-family: var(--font-cinzel);
    font-size: 1.4em;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 5px;
    transition: var(--transition);
}

.dashboard__menuItem a:hover {
    background-color: var(--color-claret);
}

.dashboard__menuItem a svg {
    font-size: 0.8em;
}

.dashboard__sidebar.open {
    left: 0;
}

.dashboard__sidebar.open .dashboard__heading {
    left: 0;
    background-color: transparent;
}

.dashboard__navigation {
    margin-top: 80px;
}

.dashboard__container {
    padding: 130px 20px 20px 20px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .dashboard__sidebar {
        padding: 30px;
    }

    .dashboard__heading {
        padding: 30px;
    }
}

@media screen and (min-width: 992px) {
    .dashboard {
        width: 100%;
        height: 100vh;
        display: flex;
    }

    .dashboard__sidebar {
        max-width: 340px;
        position: static !important;
    }

    .dashboard__heading {
        position: static !important;
        padding-inline: 0;
    }

    .dashboard__heading img {
        width: 220px;
    }

    .dashboard__menuIcon {
        display: none;
    }

    .dashboard__navigation {
        margin-top: 20px;
    }

    .dashboard__menuItem a {
        font-size: 1.6em;
    }

    .dashboard__container {
        padding: 2em;
        flex-grow: 1;
        height: 100%;
        overflow-y: auto;
    }
}