.edit {
    background-color: var(--color-white-smoke);
    padding: 20px;
    max-height: 100%;
    overflow-y: auto;
}

.edit__title {
    margin-bottom: 20px;
}

.edit__orders {
    margin-bottom: 40px;
}

.edit__order {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.edit__order button {
    margin-bottom: 20px;
}

.edit__form, .edit__formPassword {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit__formOrder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.edit__formCheck {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.edit__formSubmit {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit__formOrder strong {
    color: var(--color-murrey);
}

.edit__formOrderSubmit {
    margin-top: 40px;
}

.edit__formOrderSubmit div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.edit__formOrderSubmit p {
    text-align: center;
}

.edit__actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .edit {
        padding: 30px;
    }

    .edit__formOrder {
        flex-direction: row;
        justify-content: flex-start;
    }

    .edit__formSubmit {
        flex-direction: row;
        justify-content: flex-end;
    }

    .edit__formOrderSubmit {
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }

    .edit__formOrderSubmit div {
        flex-direction: row;
    }

    .edit__formOrderCancel {
        font-size: 0.8em;
        gap: 6px;
    }

    .edit__actions {
        flex-direction: row;
    }
}