.item {
    width: 100%;
    display: flex;
    column-gap: 20px;
    padding: 10px;
}

.item:nth-child(odd) {
    background-color: var(--color-lavender-blush);
}

.item__image {
    flex-basis: 70px;
}

.item__image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.item__info {
    flex-basis: calc(100% - 70px - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.item__text {
    flex-basis: 100%;
}

.item__name {
    margin-bottom: 10px;
}

.item__name h3 {
    font-size: 1em;
}

.item__category {
    font-family: var(--font-cinzel);
    font-weight: var(--font-weight-title);
    font-size: 0.8;
    margin-bottom: 10px;
}

.item__ingredients {
    font-size: 0.8em;
    color: var(--color-battleship-gray);
    font-style: italic;
    margin-bottom: 20px;
}

.item__description {
    line-height: 1;
}

.item__actions {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.item__quantity {
    flex-basis: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__quantity button {
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__quantityValue {
    flex-basis: calc(100% - 60px);
    text-align: center;
    font-size: 1.1em;
    font-weight: var(--font-weight-text-bold);
    width: 60px;
}

.item__remove {
    width: 100%;
    font-size: 0.8em;
}

@media screen and (min-width: 576px) {
    .item {
        column-gap: 10px;
    }

    .item__image {
        flex-basis: 120px;
    }

    .item__image img {
        height: 100%;
    }

    .item__info {
        flex-basis: calc(100% - 120px - 10px);
    }

    .item__actions {
        flex-basis: unset;
    }

    .item__quantity {
        flex-basis: unset;
    }

    .item__quantity button {
        flex-basis: 30px;
    }

    .item__remove {
        width: auto;
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) {
    .item__info {
        flex-wrap: nowrap;
    }

    .item__text {
        flex-basis: unset;
    }

    .item__name h3 {
        font-size: 1.2em;
    }

    .item__actions {
        justify-content: flex-end;
    }
}