@charset "utf-8";

/* FONTS BY GOOGLE FONTS (https://fonts.google.com/) */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* BREAKPOINTS (Based on Bootstrap: https://getbootstrap.com/docs/5.3/layout/breakpoints/#available-breakpoints) */
  --breakpoint-small: 576px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 992px;
  --breakpoint-extra-large: 1024px;
  --breakpoint-xx-large: 1200px;

  /* COLORS */
  --color-old-gold: #E2BF4E;
  --color-murrey: #9A0245;
  --color-claret: #6F0231;
  --color-lavender-blush: #ECDBE3;
  --color-white-smoke: #F6F4F5;
  --color-night: #131011;
  --color-battleship-gray: #8A8A8A;

  --color-success: #76F698;
  --color-info: #8BC7F2;
  --color-warning: #FBD9A9;
  --color-error: #F98E8E;

  --color-success-text: #067524;
  --color-info-text: #064572;
  --color-warning-text: #B26903;
  --color-error-text: #790707;

  --color-night-overlay: #13101199;
  --color-old-gold-overlay: #E2BF4E80;
  --color-night-gradient: linear-gradient(var(--color-night), #13101100);

  /* TYPOGRAPHY */
  --font-cinzel: "Cinzel", serif;
  --font-cinzel-decorative: "Cinzel Decorative", serif;
  --font-noto-serif-display: "Noto Serif Display", serif;
  --font-size-default: 1rem;
  --font-weight-title: 700;
  --font-weight-text-normal: 200;
  --font-weight-text-bold: 500;

  /* CONTAINER WIDTH */
  --container-width: 1260px;
  --container-inline-clearance: 20px;
  --container-block-clearance: 80px;

  /* TRANSITIONS AND ANIMATIONS */
  --transition-duration-default: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-noto-serif-display);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-text-normal);
  color: var(--color-night);
  background-color: var(--color-white-smoke);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cinzel-decorative);
  font-weight: var(--font-weight-title);
  color: var(--color-claret);
}

a {
  text-decoration: none;
  color: var(--color-claret);
  transition: var(--transition-duration-default);
}

li {
  list-style-type: none;
}

p {
  line-height: 1.4;
}

img {
  width: auto;
  max-width: 100%;
}

input {
  padding: 12px;
  background: none;
  border: 1px solid var(--color-night);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  outline: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root > main {
  flex-grow: 1;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 12px 24px;
  background-color: var(--color-battleship-gray);
  cursor: pointer;
  border: 1px solid transparent;
  font-family: var(--font-cinzel);
  font-size: 1.1em;
  color: var(--color-white-smoke);
}

.button.outline {
  background-color: transparent;
}

.button.primary {
  background-color: var(--color-murrey);
  border-color: var(--color-murrey);
}

.button.primary.outline {
  color: var(--color-murrey);
}

.button.secondary {
  background-color: var(--color-old-gold);
  color: var(--color-night);
}

.simple-link {
  display: inline;
  background: none;
  border: none;
  color: var(--color-claret);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}