@charset "utf-8";

/* FONTS BY GOOGLE FONTS (https://fonts.google.com/) */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  /* COLORS */
  --color-old-gold: #E2BF4E;
  --color-murrey: #9A0245;
  --color-claret: #6F0231;
  --color-lavender-blush: #ECDBE3;
  --color-white-smoke: #F6F4F5;
  --color-night: #131011;
  --color-battleship-gray: #8A8A8A;

  --color-success: #76F698;
  --color-info: #8BC7F2;
  --color-warning: #FBD9A9;
  --color-error: #F98E8E;

  --color-success-text: #067524;
  --color-info-text: #064572;
  --color-warning-text: #B26903;
  --color-error-text: #790707;

  --color-success-overlay: #76F69880;
  --color-info-overlay: #8BC7F280;
  --color-warning-overlay: #FBD9A980;
  --color-error-overlay: #F98E8E80;

  --color-night-overlay: rgba(19, 16, 17, 0.6);
  --color-old-gold-overlay: rgba(226, 191, 78, 0.3);
  --color-battleship-gray-overlay: rgba(138, 138, 138, 0.5);
  --color-night-gradient: linear-gradient(var(--color-night), rgba(19, 16, 17, 0));
  --color-night-gradient-2: linear-gradient(rgba(19, 16, 17, 0), var(--color-night));
  --color-murrey-subtle-shadow: rgba(154, 2, 68, 0.1);

  /* TYPOGRAPHY */
  --font-cinzel: "Cinzel", serif;
  --font-cinzel-decorative: "Cinzel Decorative", serif;
  --font-cormorant-garamond: "Cormorant Garamond", serif;
  --font-size-default: 1.2rem;
  --font-weight-title: 700;
  --font-weight-text-normal: 200;
  --font-weight-text-bold: 500;

  /* CONTAINER WIDTH */
  --container-width: 1260px;
  --container-inline-clearance: 20px;
  --container-block-clearance: 80px;

  /* TRANSITION */
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-cormorant-garamond);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-text-normal);
  color: var(--color-night);
  background-color: var(--color-white-smoke);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cinzel-decorative);
  font-weight: var(--font-weight-title);
  color: var(--color-claret);
}

a {
  text-decoration: none;
  color: var(--color-murrey);
  transition: var(--transition);
}

li {
  list-style-type: none;
}

p {
  line-height: 1.4;
}

img {
  width: auto;
  max-width: 100%;
}

label {
  cursor: pointer;
}

input, select, textarea {
  padding: 12px;
  background: none;
  border: 1px solid var(--color-night);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--color-murrey);
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  border-color: var(--color-murrey);
}

input[type="file"] {
  display: none;
}

select {
  cursor: pointer;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

strong {
  font-weight: var(--font-weight-text-bold);
}

svg {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--color-lavender-blush);
}

thead:not(.not-hidden) {
  display: none;
}

tr {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 0.875em;
  padding-block: 7px;
}

tr:nth-child(odd) {
  background-color: var(--color-lavender-blush);
}

th, td {
  padding: 7px;
}

th {
  color: var(--color-claret);
  font-family: var(--font-cinzel);
  font-size: 0.7em;
  text-align: left;
  background-color: var(--color-lavender-blush);
}

@media screen and (min-width: 992px) {
  thead:not(.not-hidden) {
    display: table-header-group;
  }

  tr {
    display: table-row;
    padding: 0;
  }

  tr:nth-child(odd) {
    background-color: transparent;
  }

  tr:nth-child(even) {
    background-color: var(--color-lavender-blush);
  }

  td .label-on-cell {
    display: none;
  }
  
  th.centered, td.centered {
    text-align: center;
  }
}