.notFound {
    width: 100%;
}

.notFound__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.notFound__icon {
    font-size: 4em;
    color: var(--color-murrey);
}

.notFound__title h2 {
    font-size: 1.2em;
    text-align: center;
}

.notFound__text {
    text-align: center;
    max-width: 900px;
    margin-inline: auto;
}