.cart {
    width: 100%;
}

.cart__empty {
    text-align: center;
}

.cart__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.cart__item:nth-child(odd) {
    background-color: var(--color-lavender-blush);
}

.cart__action button {
    width: 100%;
}

@media screen and (min-width: 576px) {
    .cart__action button {
        width: auto;
    }
}

@media screen and (min-width: 992px) {
    .cart__empty {
        text-align: left;
    }
}